@font-face {
  font-family: 'NetflixSansRg';
  src: url(assets/fonts/NetflixSans_W_Rg.ttf);
}

@font-face {
  font-family: 'NetflixSansMd';
  src: url(assets/fonts/NetflixSans_W_Md.ttf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .faq-list {
    @apply w-full h-[3.25rem] bg-[#303030] text-white font-NetflixSansRg text-lg font-normal text-center  leading-6 flex flex-row justify-between px-7 sm:w-[80%] md:text-xl md:py-2 lg:text-[1.45rem] lg:py-4 md:h-[3.5rem] md:w-[38.5rem] lg:w-[47.5rem] lg:h-[4.25rem] cursor-pointer;
  }

  .footer-links {
    @apply text-[#646464] font-NetflixSansRg text-[13px] text-left mt-3 hover:border-b-[1px] hover:pb-0 hover:border-[#646464];
  }

  .faq-answer {
    @apply text-white font-NetflixSansRg text-lg font-normal text-left w-full mt-[0.1rem] leading-6 opacity-0 bg-[#303030] p-0 h-0 transition-all duration-200 sm:w-[80%] md:w-[38.5rem] lg:w-[47.5rem] lg:text-[1.4rem] lg:leading-[1.83rem] hidden;
  }

  .faq-answer2 {
    @apply p-6 h-fit transition-opacity opacity-100 duration-150 block;
  }

  .faq-para {
    @apply w-[20.5rem] sm:w-[94%];
  }
  /* 
  .faq-para2 {
    @apply ;
  } */

  .faq {
    @apply cursor-pointer mt-2 w-full flex flex-col items-center;
  }
}

input:focus + .email,
input:not(:placeholder-shown) + .email {
  font-size: 0.7rem;
  font-family: 'NetflixSansMd';
  margin-bottom: 1.8rem;
}
